.sheet-items-wrapper {
    margin-top: -15px;
    margin-bottom: 30px;
}

.sheet-item {
    padding: 15px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
    &:last-child {
        border-bottom: none;
    }
}