<header id="masthead-black-bar" class="clearfix masthead-black-bar">
  <nav class="row">
    <ul id="global-nav" class="menu">
      <!-- set active class as appropriate -->
      <li class="home-mobile">
        <a [routerLink]=" ['./'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          Home
        </a>
      <li>

      <li class="home active">
        <a [routerLink]=" ['./'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          Home
        </a>
      <li>
      <li class="search">
        <a href="#" data-toggle="search-global-dropdown"><span class="show-for-small-only">Search</span></a>
        <div id="search-global-dropdown"  class="dropdown-pane" data-dropdown>
          <form id="global-search" name="global-search" action="/ebisearch/search.ebi" method="GET" class="large-8 large-push-2">
            <fieldset>
              <div class="input-group">
                <input type="text" name="query" id="global-searchbox" class="input-group-field" placeholder="Search all of EMBL-EBI">
                <div class="input-group-button"><input type="submit" name="submit" value="Search" class="button"><input type="hidden" name="db" value="allebi" checked="checked"><input type="hidden" name="requestFrom" value="masthead-black-bar" checked="checked"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </li>
      <li class="float-right show-for-medium embl-selector">
        <button class="button float-right" type="button" data-toggle="embl-dropdown" aria-controls="embl-dropdown" data-is-focus="false" data-yeti-box="embl-dropdown" aria-haspopup="true" aria-expanded="false">Hinxton</button>
      </li>
    </ul>
  </nav>
  <div>
    <div id="embl-dropdown" class="embl-dropdown dropdown-pane bottom">
      <p>EMBL-EBI in Hinxton, Cambridge is one of <br>six EMBL locations across europe.<br> <a href="//www.ebi.ac.uk/about" class="small readmore">More about EMBL-EBI</a></p>
      <h6>Connect to another EMBL location</h6>
      <div class="small-collapse padding-bottom-large clearfix">
        <div class="columns small-5 padding-bottom-medium">
          <a href="http://www.embl.de/">Heidelberg</a>
          <div class="small">Main laboratory</div>
        </div>
        <div class="columns small-7 padding-bottom-medium">
          <a href="http://www.embl-barcelona.es/">Barcelona</a>
          <div class="small">Tissue biology and disease modelling</div>
        </div>
        <div class="columns small-5 padding-bottom-medium">
          <a href="http://www.embl.fr/">Grenoble</a>
          <div class="small">Structural biology</div>
        </div>
        <div class="columns small-7 padding-bottom-medium">
          <a href="http://www.embl-hamburg.de/">Hamburg</a>
          <div class="small">Structural biology</div>
        </div>
        <div class="columns small-5 padding-bottom-medium">
          <a href="http://www.embl.it/">Rome</a>
          <div class="small">Epigenetics and neurobiology</div>
        </div>
        <div class="columns small-7 padding-bottom-medium"><a href="http://embl.org/" class="readmore">More about EMBL</a></div>
      </div>
    </div>
  </div>
</header>
