<div id="content">
  <ebi-header title="New Submission"></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Study and Projects</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active is-active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>

    <form [formGroup]="studyForm" novalidate class="conditional-form">
      <fieldset required class="large-form padding-bottom-large padding-top-large">
        <legend>Study</legend>
        <label>Study title
          <input type="text" placeholder="e.g. “Parallelism in Fish”" class="form-control" formControlName="studyTitle" required />
          <span class="form-error" *ngIf="studyForm.get('studyTitle').hasError('required')">
          Yo, you had better fill this out, it's required.
          </span>
        </label>

        <label>Study description
          <textarea rows="5" placeholder="..." formControlName="studyDescription"></textarea>
          <span class="form-error">
          Yo, you had better fill this out, it's required.
          </span>
        </label>

        <label>Study short name
          <input type="text" placeholder="e.g. “RAD sequencing - 2004 Liverpool”" formControlName="studyShortName"/> For your reference. Will only show in your dashboard.
          <span class="form-error">
          Yo, you had better fill this out, it's required.
          </span>
        </label>
      </fieldset>

      <div>
        <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="studyForm.invalid">Save &amp; exit</button>
        <button class="button readmore" (click)="onSaveContinue()" [disabled]="studyForm.invalid">Save &amp; continue</button>
      </div>
    </form>
  </section>
</div>
