<div id="content">
  <app-ebi-header></app-ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Project and Publications</h2>

    <app-ebi-submission-menu [activeSubmission]="activeSubmission"></app-ebi-submission-menu>

    <form novalidate [formGroup]="projectForm" >
      <!-- Project Details Fieldset. -->
      <fieldset required class="large-form padding-bottom-large padding-top-large">
        <legend>Project Details</legend>

        <label  [class.hide]="!projects || activeProject">Select from Projects
          <select name="project" formControlName="project"  (change)="onSelectProject()">
            <option [attr.selected]="!activeProject" value="_create">
              Create a new Project
            </option>

            <option *ngFor="let project of projects; let i = index" [value]="i" [attr.selected]="activeProject && activeProject?.alias == project?.alias">
              {{ project.title }}
            </option>
          </select>
        </label>

        <label>Project title
          <input type="text" required placeholder="e.g. “Parallelism in Fish”" class="form-control" name="projectTitle" formControlName="projectTitle"/>
          <span class="form-error" *ngIf="projectForm.get('projectTitle').hasError('required')">
        Yo, you had better fill this out, it's required.
        </span>
        </label>

        <label>Project description
          <textarea rows="5" placeholder="Enter project description here"  name="projectDescription" formControlName="projectDescription"></textarea>
          <span class="form-error">
        Yo, you had better fill this out, it's required.
        </span>
        </label>

        <label>Project short name (for easy reference)
          <input type="text" placeholder="e.g. &quot;RAD sequencing - 2004 Liverpool&quot;"  name="projectShortName" formControlName="projectShortName"/>
          <span class="form-error">
        Yo, you had better fill this out, it's required.
        </span>
        </label>

        <label>Release date
          <input type="date" placeholder="e.g. 2019-04-01"  name="releaseDate" formControlName="releaseDate"/>
          <span class="form-error">
        Yo, you had better fill this out, it's required.
        </span>
        </label>

      </fieldset>

      <div>
        <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="projectForm.invalid">Save &amp; exit</button>
        <button class="button readmore" (click)="onSaveContinue()" [disabled]="projectForm.invalid">Save &amp; continue</button>
      </div>
    </form>
  </section>
</div>
