<div id="content">
  <ebi-header></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <div class="login-form" *ngIf="!(authService.isAuthenticated() | async)">
      <h2 class="padding-top-xlarge text-center">Log in with you email account</h2>

      <form class="login-form">
        <label>Email
          <input type="email" placeholder="Somebody@example.com"/>
        </label>

        <label>Password
          <input type="password" placeholder="Password">
        </label>

        <p>
          <input type="submit" class="button expanded" value="Log in"/>
        </p>

        <p class="text-center"><a [href]="authService.getSSOURL()" target="_blank">Login with SSO</a></p>
      </form>
    </div>

    <div *ngIf="authService.isAuthenticated() | async" class="text-center padding-top-large">
      You are already logged in..
      <br><br>
      <a class="button" routerLink="/dashboard">Visit Your Dashboard</a>
    </div>
  </section>
</div>
