<div data-sticky-container="" class="sticky-container" style="height: 167.375px;">
  <header id="masthead" class="masthead sticky is-anchored is-at-top" data-events="resize" [ngStyle]="{'background': 'url(' + image + ') no-repeat 50% 0 ' + color}" style="max-width: 2560px; margin-top: 0px; bottom: auto; top: 0px;">
    <div class="masthead-inner row">
      <!-- local-title -->
      <div class="columns medium-12" id="local-title">
        <h1><a href="{{href}}" title="{{title}}">{{title}}</a></h1>
      </div>
      <!-- /local-title -->

      <!-- local-nav -->
      <nav>
        <ul id="local-nav" class="dropdown menu float-left" data-description="navigational" role="menubar" data-dropdown-menu="x56xdv-dropdown-menu">
          <li role="menuitem" routerLinkActive="active">
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li role="menuitem" routerLinkActive="active" *ngIf="isLoggedIn()">
            <a routerLink="/submission" routerLinkActive="active">New Submission</a>
          </li>
          <li role="menuitem" routerLinkActive="active" *ngIf="isLoggedIn()">
            <a routerLink="/dashboard" routerLinkActive="active">My Dashboard</a>
          </li>
          <li role="menuitem" routerLinkActive="active" *ngIf="isLoggedIn()">
            <a routerLink="/library" routerLinkActive="active">My Library</a>
          </li>
          <li role="menuitem" routerLinkActive="active">
            <a routerLink="/help" routerLinkActive="active">About & Help</a>
          </li>
        </ul>

        <ul id="secondary-menu-user-links" class="float-right menu">
          <li class="disable" *ngIf="isLoggedIn()"><a routerLink="/user">Hi {{authService.getName()}}</a></li>
          <li class="menu" *ngIf="isLoggedIn()"><a routerLink="/dashboard">My dashboard</a></li>
          <li class="menu" *ngIf="!isLoggedIn()"><a routerLink="/user/login">Login</a></li>
          <li class="menu" *ngIf="isLoggedIn()" (click)="onLogout()"><a (click)="onLogout()">Logout</a></li>
        </ul>
      </nav>
      <!-- /local-nav -->
    </div>
  </header>
</div>
