<div data-sticky-container="" class="sticky-container" style="height: 167.375px;">
  <header id="masthead" class="masthead sticky is-anchored is-at-top" data-events="resize" style="max-width: 2560px; margin-top: 0px; bottom: auto; top: 0px;">
    <div class="masthead-inner row">
      <!-- local-title -->
      <div class="columns medium-12" id="local-title">
        <h1><a href="{{href}}" title="{{title}}">{{title}}</a></h1>
      </div>
      <!-- /local-title -->
      <!-- local-nav -->
      <nav>
        <ul id="local-nav" class="dropdown menu float-left" data-description="navigational" role="menubar" data-dropdown-menu="x56xdv-dropdown-menu">
          <li role="menuitem"><a href="../../">Overview</a></li>
          <li role="menuitem"><a data-open="modal-download">Download</a></li>
          <li role="menuitem"><a href="#">Support <i class="icon icon-generic" data-icon="x"></i></a></li>
        <li class="extra-items-menu is-dropdown-submenu-parent opens-right" style="display: none;" role="menuitem" aria-haspopup="true" aria-label="Also in this section"><a href="#">Also in this section</a><ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menu"><li class="bug-fix-placeholder is-dropdown-submenu-parent is-submenu-item is-dropdown-submenu-item opens-right" style="display:none !important;" role="menuitem" aria-haspopup="true" aria-label="A workaround"><a href="#">A workaround</a> <ul class="menu submenu is-dropdown-submenu vertical" data-submenu="" role="menu"> <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="#">for a bug where the dropdown menu fails sometimes unless there are two submenus in the submenu</a></li></ul>  </li></ul></li></ul>
      </nav>
      <!-- /local-nav -->
    </div>
  </header>
</div>
