<div id="content">
  <app-ebi-header></app-ebi-header>

  <section id="main-content-area" class="row padding-top-xs padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Hi {{ authService.realname() | async }}</h2>

    <div class="row">
      <div *ngIf="submissionsSummary && submissionsSummary.hasOwnProperty('content')" class="columns small-9">
          This is your dashboard. You currently have {{ submissionsSummary.content?.Draft }} active draft submissions.
        <br>
        <div *ngIf="submissionsSummary.content.hasOwnProperty('Completed') && submissionsSummary.content.Completed > 0">You have successfully completed {{ submissionsSummary.content?.Completed }} submissions to our archives.</div>
        <div *ngIf="!submissionsSummary.content.hasOwnProperty('Completed')">You have not successfully completed any submissions to our archives.</div>
        Thanks for contributing to the future of science.
      </div>
      <div *ngIf="submissionsSummary && !submissionsSummary.hasOwnProperty('content')" class="columns small-9">
          This is your dashboard. You currently do not have any submissions, yet.
      </div>

      <div class="columns small-3 text-right">
        <a class="button" (click)="onStartSubmission()">Start a new Submission</a>
      </div>
    </div>
    <br>

    <table class="stack" *ngIf="submissions?._embedded?.submissions?.length > 0">
      <thead>
        <tr>
          <th>Updated</th>
          <th>Submission</th>
          <th>Project</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let submissionItem of submissions._embedded.submissions">
          <td class="col-date">{{ submissionItem.lastModifiedDate | date: 'd-MMM-yy' }}</td>
          <td class="col-title">{{ submissionItem?.name }}</td>
          <td class="col-project">{{ submissionItem?.projectName }}</td>
          <td class="col-status status-{{submissionItem.submissionStatus | lowercase}}">{{ submissionItem.submissionStatus }}</td>
          <td>
            <!-- Delete Submission action -->
            <button type='button' *ngIf="submissionItem._links.hasOwnProperty('self:delete')" (click)="onDeleteSubmission(submissionItem)" title="Delete">
              <i class="icon icon-functional" data-icon="d"></i>
            </button>
            <!-- Edit Submission action -->
            <button type='button' *ngIf="submissionItem._links.hasOwnProperty('self:update')" (click)="onEditSubmission(submissionItem)" title="Edit">
              <i class="icon icon-functional" data-icon="e"></i>
            </button>
            <!-- View Completed action -->
            <button type='button' *ngIf="!submissionItem._links.hasOwnProperty('self:update')" (click)="onViewCompletedSubmission(submissionItem)" title="View">
              <i class="icon icon-functional" data-icon="4"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="pagination" *ngIf="submissions && submissions.page.totalPages > 1">
      <li class="arrow">
        <a (click)="onPagerClick('first')" *ngIf="!(submissions.page.number == 0)">&laquo; First</a>
      </li>
      <li class="arrow">
        <a (click)="onPagerClick('prev')" *ngIf="submissions._links.prev">&laquo; Previous</a>
      </li>
      <li class="arrow">
        <a (click)="onPagerClick('next')" *ngIf="submissions._links.next">Next &raquo;</a>
      </li>
      <li class="arrow">
        <a (click)="onPagerClick('last')" *ngIf="(submissions.page.totalPages - submissions.page.number) > 1">Last &raquo;</a>
      </li>
    </ul>
  </section>
</div>
