// Colours.
$drag-drop-background: #f2f3f2;
$button-secondary: #666666;
$button-primary: #007c80;
$white: #fff;
$tabs-inactive: #eee;
$tabs-active: $button-primary;
$tabs-dark-gray: #888;
$form-error: #EC5840;

// Font sizes.
$font-size-large-icon: 30px;