<div id="content">
  <ebi-header title="New Submission"></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">New data submission</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active is-active" class="tabs-title">
        <a class="disabled" [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>

    Experiment Page

    <div>
      <button class="button secondary-color white-background" (click)="onSaveExit()">Save &amp; exit</button>
      <button class="button readmore" (click)="onSaveContinue()">Save &amp; continue</button>
    </div>
  </section>
</div>
