<div id="content">
  <link href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet">

  <ebi-header title="New Submission"></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Data upload</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>

    <h3>Data Upload</h3>
    <p>Based on your data type selection, please feel free to upload:</p>

    <div class="uppy-drag-drop margin-bottom-large">
    </div>

    <h3>Data Files</h3>
    <table class="hover">
      <thead class="fixed">
      <tr>
        <th>File Name</th>
        <th>Date</th>
        <th>Size</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>D1001011MN.fastq</td>
        <td>11-Oct-17</td>
        <td>180 MB</td>
        <td class="text-center"><i class="icon icon-functional" data-icon="/"></i></td>
        <td class="text-center"><i class="icon icon-functional" data-icon="d"></i></td>
      </tr>
      <tr>
        <td>D1001012MN.fastq</td>
        <td>11-Oct-17</td>
        <td>150 MB</td>
        <td class="text-center"><i class="icon icon-functional" data-icon="/"></i></td>
        <td class="text-center"><i class="icon icon-functional" data-icon="d"></i></td>
      </tr>
      <tr>
        <td>D1001013MN.fastq</td>
        <td>11-Oct-17</td>
        <td>120 MB</td>
        <td class="text-center"><i class="icon icon-functional" data-icon="x"></i></td>
        <td class="text-center"><i class="icon icon-functional" data-icon="d"></i></td>
      </tr>
      </tbody>
    </table>

    <div>
      <button class="button secondary-color white-background" (click)="onSaveExit()">Save &amp; exit</button>
      <button class="button readmore" (click)="onSaveContinue()" [disabled]="formDisabled">Save &amp; continue</button>
    </div>
  </section>
</div>
