<div id="content">
  <link href="https://unpkg.com/uppy@0.27.5/dist/uppy.min.css" rel="stylesheet">

  <app-ebi-header></app-ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Data upload</h2>

    <app-ebi-submission-menu [activeSubmission]="activeSubmission"></app-ebi-submission-menu>

    <h3>Data Upload</h3>
    <p>Based on your data type selection, please feel free to upload:</p>

    <div class="uppy-drag-drop margin-bottom-large">
    </div>

    <form class="uppy-metadata">
      <input type="hidden" name="submissionID" value="{{activeSubmission._links['self'].href.split('/').pop()}}" />
      <input type="hidden" name="jwtToken" value="{{token}}" />
    </form>

    <div *ngIf="files?._embedded?.files.length && files?._embedded?.files.length > 0; then filesBlock"></div>

    <ng-template #filesBlock>
      <h3>Data Files</h3>

      <table class="hover">
        <thead class="fixed">
          <tr>
            <th>File Name</th>
            <th>Date</th>
            <th>Size</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files._embedded.files">
            <td>{{ file.filename }}</td>
            <td>{{ file.uploadStartDate }}</td>
            <td>{{ file.totalSize | filesize }}</td>
            <td>{{ formatFileStatus(file.status) }}</td>
            <td><button class="button" (click)="onDeleteFile($event, file)">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <ul class="pagination" *ngIf="files && files.page.totalPages > 0">
        <li class="arrow">
          <a (click)="onPagerClick('first')" *ngIf="!(files.page.number == 0)">&laquo; First</a>
        </li>
        <li class="arrow">
          <a (click)="onPagerClick('prev')" *ngIf="files._links.prev">&laquo; Previous</a>
        </li>
        <li class="arrow">
          <a (click)="onPagerClick('next')" *ngIf="files._links.next">Next &raquo;</a>
        </li>
        <li class="arrow">
          <a (click)="onPagerClick('last')" *ngIf="(files.page.totalPages - files.page.number) > 1">Last
            &raquo;</a>
        </li>
      </ul>
    </ng-template>

    <div>
      <button class="button secondary-color white-background" (click)="onSaveExit()">Save &amp; exit</button>
      <button class="button readmore" (click)="onSaveContinue()">Save &amp; continue</button>
    </div>
  </section>
</div>