<div id="content">
  <link href="https://unpkg.com/uppy@0.27.3/dist/uppy.min.css" rel="stylesheet">

  <ebi-header></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Data upload</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>

    <h3>Data Upload</h3>
    <p>Based on your data type selection, please feel free to upload:</p>

    <div class="uppy-drag-drop margin-bottom-large">
    </div>

    <form class="uppy-metadata">
      <input type="hidden" name="submissionID" value="{{activeSubmission._links['self'].href.split('/').pop()}}" />
      <input type="hidden" name="jwtToken" value="{{token}}" />
    </form>

    <h3>Data Files</h3>

    <div *ngIf="files?.length && files.length > 0; then filesBlock else noFilesBlock"></div>

    <ng-template #filesBlock>
      <table class="hover">
        <thead class="fixed">
          <tr>
            <th>File Name</th>
            <th>Date</th>
            <th>Size</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td>{{file.filename}}</td>
            <td>{{file.uploadStartDate}}</td>
            <td>{{file.totalSize}} bytes</td>
            <td>{{file.status}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </ng-template>

    <ng-template #noFilesBlock>
      No files uploaded
    </ng-template>

    <div>
      <button class="button secondary-color white-background" (click)="onSaveExit()">Save &amp; exit</button>
      <button class="button readmore" (click)="onSaveContinue()">Save &amp; continue</button>
    </div>
  </section>
</div>