<div id="content">

  <app-ebi-header></app-ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">Publications</h2>

    <app-ebi-submission-menu [activeSubmission]="activeSubmission"></app-ebi-submission-menu>

    <div *ngIf="!activeProject" class="row callout notice margin-20">
      Please <a class="font-weight-bold" (click)="onCreateProject()">select project first</a> to be able to create publications.
    </div>

    <form *ngIf="!viewOnly && activeProject" novalidate [formGroup]="publicationForm" >
      <!-- Publications Fieldset. -->
      <fieldset required class="large-form padding-bottom-large padding-top-large">
        <legend>Publication</legend>

        <div class="row">
          <div class="small-12 column">
            <label>Title of the article <b class="mandatory">*</b>
              <input type="text" name="articleTitle" formControlName="articleTitle" placeholder="Article title" required>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <label>Authors <b class="mandatory">*</b>
              <input type="text" name="authors" formControlName="authors" placeholder="Name of the authors" required>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-6 column">
            <label>Title of the Journal <b class="mandatory">*</b>
              <input type="text" name="journalTitle" formControlName="journalTitle" placeholder="Journal title" required>
            </label>
          </div>

          <div class="small-6 column">
            <label>ISSN of the Journal <b class="mandatory">*</b>
              <input type="text" name="journalIssn" formControlName="journalIssn" placeholder="ISSN number" required>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-6 column">
            <label>Issue of the Journal
              <input type="text" name="issue" formControlName="issue" placeholder="Journal Issue Number">
            </label>
          </div>

          <div class="small-6 column">
            <label>Year of the Journal
              <input type="text" name="year" formControlName="year" placeholder="Journal Year Information">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-6 column">
            <label>Volume of the Journal
              <input type="text" name="volume" formControlName="volume" placeholder="Journal Volume Information">
            </label>
          </div>

          <div class="small-6 column">
            <label>Page Information
              <input type="text" name="pageInfo" formControlName="pageInfo" placeholder="Page Information">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-6 column">
            <label>PubmedId <b class="mandatory">*</b>
              <input type="text" name="pubmedId" formControlName="pubmedId" placeholder="12345678" required>
            </label>
          </div>

          <div class="small-6 column">
            <label>DOI <b class="mandatory">*</b>
              <input type="text" name="doi" formControlName="doi" placeholder="DOI Information..." required>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-6 column">
            <label>Status <b class="mandatory">*</b>
              <select name="status" formControlName="status" required>
                <option *ngFor="let status of publicationStatuses" [value]="status">
                  {{ status }}
                </option>
              </select>
            </label>
          </div>
        </div>

        <button *ngIf="!viewOnly && !editMode" class="button" (click)="onAddPublication()" [disabled]="publicationForm.invalid && !editMode"><i class="icon icon-functional" data-icon="+"></i> Add New Publication</button>
        <button *ngIf="!viewOnly && editMode" class="button" (click)="onAddPublication()" [disabled]="publicationForm.invalid && editMode"><i class="icon icon-functional" data-icon="S"></i> Update Publication</button>
      </fieldset>
    </form>

    <div *ngIf="activeProject?.publications?.length > 0">
      <h3>Publications</h3>
      <table class="hover">
        <thead class="fixed">
          <tr>
            <th>PubmedId</th>
            <th>Article Title</th>
            <th>Journal Title</th>
            <th>Authors</th>
            <th>DOI</th>
            <th>ISSN</th>
            <th>Issue</th>
            <th>Year</th>
            <th>Volume</th>
            <th>Page Info</th>
            <th>Status</th>
            <th width="20px">Actions</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let publication of activeProject.publications; let i = index">
          <td>{{ publication.pubmedId }}</td>
          <td>{{ publication.articleTitle }}</td>
          <td>{{ publication.journalTitle }}</td>
          <td>{{ publication.authors }}</td>
          <td>{{ publication.doi }}</td>
          <td>{{ publication.journalIssn }}</td>
          <td>{{ publication.issue }}</td>
          <td>{{ publication.year }}</td>
          <td>{{ publication.volume }}</td>
          <td>{{ publication.pageInfo }}</td>
          <td>{{ publication.status }}</td>
          <td class="text-center">
            <i *ngIf="!viewOnly" class="icon icon-functional" data-icon="e" (click)="onEditPublication(i)"></i> &nbsp;
            <i *ngIf="!viewOnly" class="icon icon-functional" data-icon="d" (click)="onDeletePublication(i)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!viewOnly">
      <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="publicationForm.dirty && publicationForm.invalid">Save &amp; exit</button>
      <button class="button readmore" (click)="onSaveContinue()" [disabled]="publicationForm.dirty && publicationForm.invalid">Save &amp; continue</button>
    </div>

  </section>
</div>
