<div id="content">
  <app-ebi-header></app-ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">New data submission</h2>

    <app-ebi-submission-menu [activeSubmission]="activeSubmission"></app-ebi-submission-menu>

    <h3>Submit page</h3>

    <div *ngIf="hasBlockers() then blockersBlock else noBlockersBlock"></div>

   <ng-template #blockersBlock>
    <h3>Summary of issues blocking the submission</h3>
    {{filesNotReadyToSubmitCount}} files uploading<br>
    {{totalMetadataBlockers}} metadata problems to solve:<br>
    
    {{validationIssuesPerDataTypeId}}<br>
    <br>
  </ng-template>

  <ng-template #noBlockersBlock>
    <h4>You don't have any blocking issues to submit your submission.</h4>
  </ng-template>

    <button type="button" class=" button" (click)="onSubmitSubmission()">Submit Submission</button>
  </section>
</div>
