<div id="content">
  <link href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet">

  <ebi-header></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">New data submission</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active is-active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>


    <form [formGroup]="samplesForm">
      <fieldset required class="large-form padding-bottom-large padding-top-large ">
        <legend>Samples</legend>


          <label>What is the source of your biological samples?
          <select name="samplesSource" formControlName="samplesSource" class="choices"  required multiple>
            <option value="data-type-1">
              Organism - eukaryote
            </option>
            <option value="data-type-2">
              Organism - Pprokaryote
            </option>
            <option value="data-type-3">
              Source - Water
            </option>
            <option value="data-type-4">
              Source - metagenome
            </option>
          </select>
          </label>

          <label class="margin-top-large">Enter species name of Tax ID
            <input type="text" placeholder="E.g Human .... 9606"  name="samplesSpecies" formControlName="samplesSpecies"/>
            <span class="form-error">
        Yo, you had better fill this out, it's required.
        </span>
          </label>

      </fieldset>

      <fieldset required class="large-form padding-bottom-large padding-top-large ">
        <legend>Samples Templates</legend>
        <p>
          Based on your selection above, you might find the following community sample templates helpful:
        </p>
        <select name="template" (change)="onSelectTemplate($event)" *ngIf="templatesList">
          <option value="_none"> - Select Template - </option>
          <option *ngFor="let template of templatesList" value="{{template?.name}}" attr.data-href="{{template._links['spreadsheet-csv-download'].href}}">
              {{template?.name}}
          </option>
        </select>

        <div *ngIf="selectedTemplate?.name">

          <a href="{{selectedTemplate.href}}" target="_blank">Download The Template</a>
          <br>
          <a href="#" (click)="triggerUpload()" target="_blank">Upload Filled Template</a>
          <input type="file" name="csv-template" (change)="previewCSVFile($event)" class="hide" />
        </div>


      </fieldset>

      <div>
        <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="samplesForm.invalid">Save &amp; exit</button>
        <button class="button readmore" (click)="onSaveContinue()" [disabled]="samplesForm.invalid">Save &amp; continue</button>
      </div>
    </form>
  </section>
</div>
