<div id="content">
  <link href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet">

  <ebi-header></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">New data submission</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active is-active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{link.title}}</a>
      </li>
    </ul>

    <ngx-loading [show]="loading" [config]=""></ngx-loading>

    <div class="reveal reveal-form" id="exampleModal1" data-reveal>
      <div *ngIf="errors.length > 0">
        <div *ngFor="let error of errors" class="callout alert">
          {{ error }}
        </div>
      </div>

      <json-schema-form loadExternalAssets="true" [(ngModel)]="activeSampleClonned" (onSubmit)="onUpdateSample()" [schema]="testSampleSchema">
      </json-schema-form>

      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <form [formGroup]="samplesForm">
      <fieldset required class="large-form padding-bottom-large padding-top-large ">
        <legend>Samples</legend>


        <label>What is the source of your biological samples?
          <select name="samplesSource" formControlName="samplesSource" class="choices" required multiple>
            <option value="data-type-1">
              Organism - eukaryote
            </option>
            <option value="data-type-2">
              Organism - Pprokaryote
            </option>
            <option value="data-type-3">
              Source - Water
            </option>
            <option value="data-type-4">
              Source - metagenome
            </option>
          </select>
        </label>

        <label class="margin-top-large">Enter species name of Tax ID
          <input type="text" placeholder="E.g Human .... 9606" name="samplesSpecies" formControlName="samplesSpecies" />
          <span class="form-error">
            Yo, you had better fill this out, it's required.
          </span>
        </label>

      </fieldset>

      <div required class="large-form padding-bottom-large padding-top-large ds-tabs">
        <ul class="tabs" data-tabs>
          <li class="tabs-title" [class.is-active]="activeTab == 'samples-upload'">
            <a (click)="activateTab('samples-upload')">Samples Upload</a>
          </li>
          <li class="tabs-title" [class.is-active]="activeTab == 'samples-view'">
            <a (click)="activateTab('samples-view')">View Samples</a>
          </li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
          <!-- Samples upload Tab. -->
          <div class="tabs-panel" [class.is-active]="activeTab == 'samples-upload'">
            <h5>Samples Templates</h5>
            <p>
              Based on your selection above, you might find the following community sample templates helpful:
            </p>
            <select name="template" (change)="onSelectTemplate($event)" *ngIf="templatesList">
              <option value="_none"> - Select Template - </option>
              <option *ngFor="let template of templatesList" value="{{template?.name}}" attr.data-href="{{template._links['spreadsheet-csv-download'].href}}">
                {{template?.name}}
              </option>
            </select>

            <div *ngIf="selectedTemplate?.name">

              <a href="{{selectedTemplate.href}}" target="_blank" class="hollow button uppercase margin-right-10">Download The Template</a>

              <a href="#" (click)="triggerUpload()" target="_blank" class="button primary uppercase">Upload Filled Template</a>
              <input type="file" name="csv-template" (change)="previewCSVFile($event)" class="hide" />
            </div>
          </div>

          <!-- Samples View Tab -->
          <div class="tabs-panel" [class.is-active]="activeTab == 'samples-view'">
            <div *ngIf="submittionSamples?._embedded?.samples.length > 0">
              <div class="row">
                <div *ngIf="processingSheets.length > 0" class="sheet-items-wrapper">
                  <div *ngFor="let processingSheet of processingSheets; let i = index" class="sheet-item">
                    Sheet #{{i + 1}} : Processing {{processingSheet.processedRowCount}} of {{processingSheet.totalRowCount}}
                  </div>
                </div>
                <div class="small-6 columns text-left">
                  Page {{submittionSamples?.page?.number + 1}} of {{submittionSamples?.page?.totalPages}}
                </div>

                <div class="small-6 columns text-right"> {{submittionSamples?.page?.totalElements}} samples</div>
              </div>
              <form ngNoForm>
                <table class="margin-top-20 samples-table">
                  <thead>
                    <tr>
                      <th></th>
                      <ng-container *ngFor="let keyName of objectKeys(submittionSamples._embedded.samples[0])">
                        <th *ngIf="blackListSampleFields.indexOf(keyName) < 0 && addSampleActiveKey(keyName)"> {{keyName | uppercase}}</th>
                      </ng-container>
                      <!-- <th>Alias</th>
                      <th>Title</th>
                      <th>Last Update</th>
                      <th>Status</th> -->
                    </tr>
                  </thead>

                  <tbody>
                    <tr #allSamples *ngFor="let sample of submittionSamples?._embedded?.samples; let last = last; let i = index;">
                      <td class="text-center actions">
                        <button class=" reveal-button" data-open="exampleModal1" type='button' (click)="setActiveSample(sample, i)">
                          <i class="icon icon-functional" data-icon="e"></i>
                        </button>

                        <!-- <i class="icon icon-functional success" *ngIf="sample?.editMode" data-icon="/" (click)="onUpdateSample(sample)"></i> -->
                      </td>

                      <td *ngFor="let key of activeSampleFields">
                        <div class="info" *ngIf="!sample?.editMode">
                          {{sample[key]}}
                        </div>

                        <input type="text" value="{{sample[key]}}" *ngIf="sample?.editMode" [(ngModel)]="sample[key]" [ngModelOptions]="{standalone: true}">
                      </td>
                      <!-- <td>
                        <div class="info" *ngIf="!sample?.editMode">
                          {{sample.alias}}
                        </div>

                        <input type="text" value="{{sample.alias}}" *ngIf="sample?.editMode" [(ngModel)]="sample.alias" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>
                        <div class="info" *ngIf="!sample?.editMode">
                          {{sample.title}}
                        </div>

                        <input type="text" value="{{sample.title}}" *ngIf="sample?.editMode" [(ngModel)]="sample.title" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>{{sample.lastModifiedDate | date: 'd-MMM-yy' }}</td>
                      <td>{{sample.processingStatus}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </form>

              <ul class="pagination" *ngIf="submittionSamples && submittionSamples.page.totalPages > 0">
                <li class="arrow">
                  <a (click)="onPagerClick('first')" *ngIf="!(submittionSamples.page.number == 0)">&laquo; First</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('prev')" *ngIf="submittionSamples._links.prev">&laquo; Previous</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('next')" *ngIf="submittionSamples._links.next">Next &raquo;</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('last')" *ngIf="(submittionSamples.page.totalPages - submittionSamples.page.number) > 1">Last &raquo;</a>
                </li>
              </ul>
            </div>

            <div *ngIf="!(submittionSamples?._embedded?.samples.length > 0)">
              No samples has been uploaded yet. If you just uploaded the spreadsheet then it may take a while to appears.
              <a (click)="activateTab('samples-upload')">click here to upload a new samples.</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="samplesForm.invalid">Save &amp; exit</button>
        <button class="button readmore" (click)="onSaveContinue()" [disabled]="samplesForm.invalid">Save &amp; continue</button>
      </div>
    </form>
  </section>
</div>
