<div id="content">
  <link href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet">

  <ebi-header></ebi-header>

  <section id="main-content-area" class="row padding-top-xsmall padding-bottom-xsmall" role="main">
    <h2 class="padding-top-xlarge">New data submission</h2>

    <ul class="tabs" id="example-tabs">
      <li *ngFor="let link of tabLinks" routerLinkActive="active is-active" class="tabs-title">
        <a [routerLink]="link.href" routerLinkActive="active">{{ link.title }}</a>
      </li>
    </ul>

    <ngx-loading [show]="loading" [config]=""></ngx-loading>


    <div class="reveal reveal-form" id="exampleModal1" data-reveal>

      <div class="reveal reveal-form add-attribute-form" id="add-attribute-form" data-reveal data-multiple-opened="true">
        <!-- TODO: Put this in a directive. -->
        <form [formGroup]="sampleAttributeForm"  (ngSubmit)="onAddSampleAttribute()">
          <label [class.form-wrapper-error]="sampleAttributeForm.get('name').invalid && (sampleAttributeForm.get('name').touched || sampleAttributeForm.get('name').dirty)">
            Attribute Name
            <input type="text" name="attribute-name" formControlName="name"/>

            <div class="errors" *ngIf="sampleAttributeForm.get('name').errors && sampleAttributeForm.get('name').errors['errors']">
              <div *ngFor="let error of sampleAttributeForm.get('name').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <label [class.form-wrapper-error]="sampleAttributeForm.get('value').invalid && (sampleAttributeForm.get('value').touched || sampleAttributeForm.get('value').dirty)">
            Value
            <input type="text" name="attribute-value" formControlName="value"/>

            <div class="errors" *ngIf="sampleAttributeForm.get('value').errors && sampleAttributeForm.get('value').errors['errors']">
              <div *ngFor="let error of sampleAttributeForm.get('value').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <label [class.form-error]="sampleAttributeForm.get('unit').invalid && (sampleAttributeForm.get('unit').touched || sampleAttributeForm.get('unit').dirty)">
            Unit
            <input type="text" name="attribute-units" formControlName="unit"/>

            <div class="errors" *ngIf="sampleAttributeForm.get('unit').errors && sampleAttributeForm.get('unit').errors['errors']">
                <div *ngFor="let error of sampleAttributeForm.get('unit').errors['errors']">
                  {{ error }}
                </div>
              </div>
          </label>

          <label>
            Terms
            <div formArrayName="terms"  *ngFor="let attributeTerm of sampleAttributeForm.get('terms')?.controls; let i = index;">
                <div [formGroupName]="i" [class.form-wrapper-error]="sampleAttributeForm.get('terms')?.controls[i].invalid">
                  <input type="url" class="margin-bottom-0" formControlName="term" placeholder="">
                  <span class="icon icon-functional float-right margin-bottom-20" data-icon="d" *ngIf="sampleAttributeForm.get('terms')?.controls.length > 1" (click)="removeSampleAttrTerm(i)">Remove</span>

                  <div class="errors" *ngIf="sampleAttributeForm.get('terms').controls[i].errors && sampleAttributeForm.get('terms').controls[i].errors['errors'].length > 0">
                      <div *ngFor="let error of sampleAttributeForm.get('terms').controls[i].errors['errors']">
                        {{ error }}
                      </div>
                  </div>
                </div>
            </div>
            <div class="columns small-12 no-horz-padding">
              <a class="float-right icon icon-functional"  data-icon="+"  (click)="addSampleAttrTerm()">Add Term</a>
            </div>
          </label>

          <div class="columns small-12 no-horz-padding">
            <button type="submit" class="button" value="Save"  [disabled]="!sampleAttributeForm.valid">Save</button>
            <button data-close aria-label="Close modal" class="button secondary-color white-background" type="button">Cancel</button>
          </div>
        </form>
        <!-- End of add attribute form -->

        <button class="close-button sample-attribute-close-button" data-close aria-label="Close modal" type="button" >
            <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal reveal-form add-samples-form" id="add-samples-form" data-reveal data-multiple-opened="true">
        <!-- TODO: Put this in a directive. -->
        <form [formGroup]="sampleRelationsForm"  (ngSubmit)="onAddSampleRelations()">
          <label>
            Relation Method
            <select formControlName="method" name="attribute-type" (change)="onChangeRelationMethod()">
              <option value="using-alias">Using Alias</option>
              <option value="using-accession">Using Accession</option>
            </select>
          </label>


          <label [class.form-wrapper-error]="sampleRelationsForm.get('alias').invalid && (sampleRelationsForm.get('alias').touched || sampleRelationsForm.get('alias').dirty)" *ngIf="sampleRelationsForm.value['method'] == 'using-alias'">
            Alias
            <input type="text" name="attribute-alias" formControlName="alias"/>

            <div class="errors" *ngIf="sampleRelationsForm.get('alias').errors && sampleRelationsForm.get('alias').errors['errors']">
              <div *ngFor="let error of sampleRelationsForm.get('alias').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <label [class.form-wrapper-error]="sampleRelationsForm.get('team').invalid && (sampleRelationsForm.get('team').touched || sampleRelationsForm.get('team').dirty)"  *ngIf="sampleRelationsForm.value['method'] == 'using-alias'">
            Team
            <input type="text" name="attribute-team" formControlName="team"/>

            <div class="errors" *ngIf="sampleRelationsForm.get('team').errors && sampleRelationsForm.get('team').errors['errors']">
              <div *ngFor="let error of sampleRelationsForm.get('team').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <label [class.form-wrapper-error]="sampleRelationsForm.get('accession').invalid && (sampleRelationsForm.get('accession').touched || sampleRelationsForm.get('accession').dirty)" *ngIf="sampleRelationsForm.value['method'] == 'using-accession'">
            Accession
            <input type="text" name="attribute-accession" formControlName="accession"/>

            <div class="errors" *ngIf="sampleRelationsForm.get('accession').errors && sampleRelationsForm.get('accession').errors['errors']">
              <div *ngFor="let error of sampleRelationsForm.get('accession').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <label [class.form-wrapper-error]="sampleRelationsForm.get('nature').invalid && (sampleRelationsForm.get('nature').touched || sampleRelationsForm.get('nature').dirty)">
            Nature
            <select formControlName="nature" name="attribute-nature" >
              <option value="derived from">Derived From</option>
              <option value="child of">Child of</option>
              <option value="same as">Same as</option>
              <option value="recurated from">Recurated from</option>
            </select>


            <div class="errors" *ngIf="sampleRelationsForm.get('nature').errors && sampleRelationsForm.get('nature').errors['errors']">
              <div *ngFor="let error of sampleRelationsForm.get('nature').errors['errors']">
                {{ error }}
              </div>
            </div>
          </label>

          <div class="columns small-12 no-horz-padding">
            <button type="submit" class="button" value="Save"  [disabled]="!sampleRelationsForm.valid">Save</button>
            <button data-close aria-label="Close modal" class="button secondary-color white-background" type="button">Cancel</button>
          </div>
        </form>

        <button class="close-button sample-relations-close-button" data-close aria-label="Close modal" type="button" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="errors && errors.length > 0">
        <div *ngFor="let error of errors" class="callout alert">
          {{ error }}
        </div>
      </div>

      <form [formGroup]="sampleForm" (ngSubmit)="onUpdateSample()">
        <label [class.form-wrapper-error]="sampleForm.get('accession').invalid && (sampleForm.get('accession').touched || sampleForm.get('accession').dirty)" *ngIf="activeSample?.accession">
          Accession
          <input type="text" [value]="activeSample?.accession" name="sample-accession" formControlName="accession"/>

          <div class="errors" *ngIf="sampleForm.get('accession').errors && sampleForm.get('accession').errors['errors']">
            <div *ngFor="let error of sampleForm.get('accession').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('alias').invalid && (sampleForm.get('alias').touched || sampleForm.get('alias').dirty)">
          Alias
          <input type="text" [value]="activeSample?.alias" name="sample-alias" formControlName="alias"/>

          <div class="errors" *ngIf="sampleForm.get('alias').errors && sampleForm.get('alias').errors['errors']">
            <div *ngFor="let error of sampleForm.get('alias').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('title').invalid && (sampleForm.get('title').touched || sampleForm.get('title').dirty)">
          Title
          <input type="text" [value]="activeSample?.title" name="sample-title" formControlName="title"/>

          <div class="errors" *ngIf="sampleForm.get('title').errors && sampleForm.get('title').errors['errors']">
            <div *ngFor="let error of sampleForm.get('title').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('description').invalid && (sampleForm.get('description').touched || sampleForm.get('description').dirty)">
          Description
          <textarea name="sample-description" [value]="activeSample?.description" formControlName="description"></textarea>

          <div class="errors" *ngIf="sampleForm.get('description').errors && sampleForm.get('description').errors['errors']">
            <div *ngFor="let error of sampleForm.get('description').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('taxonId').invalid && (sampleForm.get('taxonId').touched || sampleForm.get('taxonId').dirty)">
          Taxonid
          <input type="number" [value]="activeSample?.taxonId" name="sample-taxonid" formControlName="taxonId"/>

          <div class="errors" *ngIf="sampleForm.get('taxonId').errors && sampleForm.get('taxonId').errors['errors']">
            <div *ngFor="let error of sampleForm.get('taxonId').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('taxon').invalid && (sampleForm.get('taxon').touched || sampleForm.get('taxon').dirty)">
          Taxon
          <input type="text" [value]="activeSample?.taxon" name="sample-taxon" formControlName="taxon"/>

          <div class="errors" *ngIf="sampleForm.get('taxon').errors && sampleForm.get('taxon').errors['errors']">
            <div *ngFor="let error of sampleForm.get('taxon').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label [class.form-wrapper-error]="sampleForm.get('releaseDate').invalid && (sampleForm.get('releaseDate').touched || sampleForm.get('releaseDate').dirty)">
          Release Date
          <input type="date" name="sample-release-date" formControlName="releaseDate"/>

          <div class="errors" *ngIf="sampleForm.get('releaseDate').errors && sampleForm.get('releaseDate').errors['errors']">
            <div *ngFor="let error of sampleForm.get('releaseDate').errors['errors']">
              {{ error }}
            </div>
          </div>
        </label>

        <label>
          <div class="row">
            <h3>Attributes</h3>

            <div *ngIf="activeSample?.attributes" class="columns small-12 no-horz-padding">
              <div *ngFor="let attributeKey of objectKeys(activeSample.attributes)" class="columns no-horz-padding">
                {{ attributeKey }}

                <a class="icon icon-functional float-right margin-left-15" data-icon="d" (click)="onDeleteSampleAttribute(attributeKey)">Delete</a>
                <a class="icon icon-functional float-right reveal-button" data-icon="e" data-open="add-attribute-form" (click)="onEditSampleAttribute(attributeKey)">Edit</a>
              </div>
            </div>

            <div *ngIf="!activeSample?.attributes" class="columns small-12 no-horz-padding">
              No attributes added.
            </div>


            <a class="reveal-button" data-open="add-attribute-form"  class="float-right">Add Attribute</a>
          </div>
        </label>

        <label>
          <div class="row">
              <h3>Related Samples</h3>
              <div *ngIf="!(activeSample?.sampleRelationships?.length > 0)" class="columns small-12 no-horz-padding">
                  No related samples added.
              </div>
              <div *ngIf="activeSample?.sampleRelationships?.length > 0" class="columns small-12 no-horz-padding">
                <div *ngFor="let relationObjectKey of objectKeys(activeSample.sampleRelationships)" class="columns no-horz-padding">
                  {{ activeSample.sampleRelationships[relationObjectKey]?.alias }} {{ activeSample.sampleRelationships[relationObjectKey]?.team }} {{ activeSample.sampleRelationships[relationObjectKey]?.accession }}

                  <a class="icon icon-functional float-right margin-left-15" data-icon="d" (click)="onDeleteSampleRelation(relationObjectKey)">Delete</a>
                </div>
               </div>
              <a class="reveal-button" data-open="add-samples-form"  class="float-right">Add Samples</a>
          </div>
        </label>

        <div class="columns small-12 no-horz-padding">
          <button type="submit" class="button" value="Save"  [disabled]="!sampleForm.valid">Save</button>
          <button data-close aria-label="Close modal" class="button secondary-color white-background" type="button">Cancel</button>
        </div>
      </form>

      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <form [formGroup]="samplesForm">
      <fieldset required class="large-form padding-bottom-large padding-top-large ">
        <legend>Samples</legend>


        <label>What is the source of your biological samples?
          <select name="samplesSource" formControlName="samplesSource" class="choices" required multiple>
            <option value="data-type-1">
              Organism - eukaryote
            </option>
            <option value="data-type-2">
              Organism - Pprokaryote
            </option>
            <option value="data-type-3">
              Source - Water
            </option>
            <option value="data-type-4">
              Source - metagenome
            </option>
          </select>
        </label>

        <label class="margin-top-large">Enter species name of Tax ID
          <input type="text" placeholder="E.g Human .... 9606" name="samplesSpecies" formControlName="samplesSpecies" />
          <span class="form-error">
            Yo, you had better fill this out, it's required.
          </span>
        </label>

      </fieldset>

      <div required class="large-form padding-bottom-large padding-top-large ds-tabs">
        <ul class="tabs" data-tabs>
          <li class="tabs-title" [class.is-active]="activeTab == 'samples-upload'">
            <a (click)="activateTab('samples-upload')">Samples Upload</a>
          </li>
          <li class="tabs-title" [class.is-active]="activeTab == 'samples-view'">
            <a (click)="activateTab('samples-view')">View Samples</a>
          </li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
          <!-- Samples upload Tab. -->
          <div class="tabs-panel" [class.is-active]="activeTab == 'samples-upload'">
            <h5>Samples Templates</h5>
            <p>
              Based on your selection above, you might find the following community sample templates helpful:
            </p>
            <select name="template" (change)="onSelectTemplate($event)" *ngIf="templatesList">
              <option value="_none"> - Select Template - </option>
              <option *ngFor="let template of templatesList" value="{{template?.name}}" attr.data-href="{{template._links['spreadsheet-csv-download'].href}}">
                {{ template?.name }}
              </option>
            </select>

            <div *ngIf="selectedTemplate?.name">

              <a href="{{selectedTemplate.href}}" target="_blank" class="hollow button uppercase margin-right-10">Download The Template</a>

              <a href="#" (click)="triggerUpload()" target="_blank" class="button primary uppercase">Upload Filled Template</a>
              <input type="file" name="csv-template" (change)="previewCSVFile($event)" class="hide" />
            </div>
          </div>

          <!-- Samples View Tab -->
          <div class="tabs-panel" [class.is-active]="activeTab == 'samples-view'">
            <div *ngIf="submittionSamples?._embedded?.samples.length > 0">
              <div class="row">
                <div *ngIf="processingSheets.length > 0" class="sheet-items-wrapper">
                  <div *ngFor="let processingSheet of processingSheets; let i = index" class="sheet-item">
                    Sheet #{{ i + 1 }} : Processing {{ processingSheet.processedRowCount }} of {{ processingSheet.totalRowCount }}
                  </div>
                </div>
                <div class="small-6 columns text-left">
                  Page {{ submittionSamples?.page?.number + 1 }} of {{ submittionSamples?.page?.totalPages }}
                </div>

                <div class="small-6 columns text-right"> {{ submittionSamples?.page?.totalElements }} samples</div>
              </div>
              <form [formGroup]="sampleForm">
                <table class="margin-top-20 samples-table inline-editing-table">
                  <thead>
                    <tr>
                      <th></th>
                      <ng-container *ngFor="let keyName of objectKeys(submittionSamples._embedded.samples[0])">
                        <th *ngIf="blackListSampleFields.indexOf(keyName) < 0 && addSampleActiveKey(keyName)"> {{ keyName | uppercase }}</th>
                      </ng-container>
                    </tr>
                  </thead>

                  <tbody>
                    <tr #allSamples *ngFor="let sample of submittionSamples?._embedded?.samples; let last = last; let i = index;">
                      <td class="text-center actions">
                        <button class="reveal-button" data-open="exampleModal1" type='button' (click)="setActiveSample(sample, i)">
                          <i class="icon icon-functional" data-icon="e"></i>
                        </button>

                        <!-- <i class="icon icon-functional success" *ngIf="sample?.editMode" data-icon="/" (click)="onUpdateSample(sample)"></i> -->
                      </td>

                      <td *ngFor="let key of activeSampleFields" [class.editable]="sampleForm.controls[key]">
                        <div class="info" *ngIf="!sample?.fields || !sample['fields'][key] || (sample['fields'] && sample['fields'][key] && !sample['fields'][key]['editMode'])" (click)="onSampleTableClickCell(sample, key, true)">
                          {{ sample[key] }}
                        </div>

                        <label *ngIf="sample?.accession && key == 'accession' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="text" [value]="sample?.accession" name="sample-accession" formControlName="accession" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('accession').errors && sampleForm.get('accession').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('accession').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'alias' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="text" [value]="sample?.alias" name="sample-alias" formControlName="alias" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('alias').errors && sampleForm.get('alias').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('alias').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'title' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="text" [value]="sample?.title" name="sample-title" formControlName="title" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('title').errors && sampleForm.get('title').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('title').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'description' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <textarea name="sample-description" [value]="sample?.description" formControlName="description"></textarea>

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('description').errors && sampleForm.get('description').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('description').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'taxonId' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="number" [value]="sample?.taxonId" name="sample-taxonid" formControlName="taxonId" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('taxonId').errors && sampleForm.get('taxonId').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('taxonId').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'taxon' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="text" [value]="sample?.taxon" name="sample-taxon" formControlName="taxon" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('taxon').errors && sampleForm.get('taxon').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('taxon').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>

                        <label *ngIf="key == 'releaseDate' && (sample['fields'] && sample['fields'][key] && sample['fields'][key]['editMode'])">

                          <input type="date" name="sample-release-date" [value]="sample?.releaseDate" formControlName="releaseDate" />

                          <i class="icon icon-functional cancel" data-icon="x" (click)="onSampleTableClickCell(sample, key, false)"></i>
                          <i class="icon icon-functional success" data-icon="/" (click)="onUpdateSampleTableCell(sample, key)"></i>

                          <div class="errors" *ngIf="sampleForm.get('releaseDate').errors && sampleForm.get('releaseDate').errors['errors']">
                            <div *ngFor="let error of sampleForm.get('releaseDate').errors['errors']">
                              {{ error }}
                            </div>
                          </div>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>

              <ul class="pagination" *ngIf="submittionSamples && submittionSamples.page.totalPages > 0">
                <li class="arrow">
                  <a (click)="onPagerClick('first')" *ngIf="!(submittionSamples.page.number == 0)">&laquo; First</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('prev')" *ngIf="submittionSamples._links.prev">&laquo; Previous</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('next')" *ngIf="submittionSamples._links.next">Next &raquo;</a>
                </li>
                <li class="arrow">
                  <a (click)="onPagerClick('last')" *ngIf="(submittionSamples.page.totalPages - submittionSamples.page.number) > 1">Last &raquo;</a>
                </li>
              </ul>
            </div>

            <div *ngIf="!(submittionSamples?._embedded?.samples.length > 0)">
              No samples has been uploaded yet. If you just uploaded the spreadsheet then it may take a while to appears.
              <a (click)="activateTab('samples-upload')">click here to upload a new samples.</a>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button class="button secondary-color white-background" (click)="onSaveExit()" [disabled]="samplesForm.invalid">Save &amp; exit</button>
        <button class="button readmore" (click)="onSaveContinue()" [disabled]="samplesForm.invalid">Save &amp; continue</button>
      </div>
    </form>
  </section>
</div>
