/**
 * Angular CLI usually process SCSS files after loading index.html markup.
 * This sheet should be injected directly to index.html markup to make sure it will be loaded before index.html markup.
 */

.loading-wrapper {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.loading-inner {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-image {
  background: url('../../assets/icon/android-chrome-192x192.png') no-repeat 50% 50%;
  background-size: 100%;
  height: 150px;
  width: 150px;
}
